<%= form_for @message do |m| %>
<p>
<%= m.label :title %><br>
<%= m.text_field :title %>
</p>

<p>
<%= m.label :content %><br>
<%= m.text_field :content %>
</p>

<p>
<%= m.label :scheduled_time %><br>
<%= m.datetime_local_field :scheduled_time %>
</p>

<p>
<%= m.submit %>
</p>
<% end %>
