<div class="container">
  <h1 class="page-title">Guests</h1>

  <p class="gray">Enter guest information manually or click "Import Guests" to upload an excel file.</p>

  <%= form_tag destroy_multiple_guests_path, method: :delete do %>
    <%= button_tag(type: "submit", id: "delete-button", class: "hidden") do %>
      <div class="button secondary medium">
        <h3>Delete Selected</h3>
      </div>
    <% end %>

    <table class="guest-table">
      <tr class="row heading">
        <td class="checkmark-column">
          <label class="check-container">
            <input type="checkbox" id="check_all">
            <span class="checkmark"></span>
          </label>
        </td>
        <td><h4 class="gray">Guest First Name</h4></td>
        <td><h4 class="gray">Guest Last Name</h4></td>
        <td><h4 class="gray">Guest Phone Number</h4></td>
      </tr>

      <tr>
        <%= form_with scope: :guest, class: "guest-entry", local: true do |form| %>
          <td class="checkmark-column"></td>
          <td>
            <%= form.text_field :first_name, class: "input", placeholder: "First Name"  %>
          </td>
          <td>
            <%= form.text_field :last_name, class: "input", placeholder: "Last Name"  %>
          </td>
          <td class="form-submit">
            <%= form.text_field :phone, class: "input", placeholder: "888-888-8888" %>
            <%= form.submit "Add", name: "add_guests", class: "button primary medium add-guest" %>
          </td>
        <% end %>
      </tr>

      <% @guests.each_with_index do |guest, index| %>
        <label>
          <tr class="row <%= "even" if index.even? %>">
            <td class="checkmark-column">
              <label class="check-container">
                <%= check_box_tag "guests[]", guest.id %>
                <input type="checkbox" class="guest-checkbox">
                <span class="checkmark"></span>
              </label>
            </td>
            <td><%= guest.first_name %></td>
            <td><%= guest.last_name %></td>
            <td><%= guest.phone %></td>
          </tr>
        </label>
      <% end %>
    </table>

  <% end %>
</div>
