<div class="container">
   <%= form_with scope: :guest, class: "guest-entry", local: true do |form| %>
     <p>
       <%= form.text_field :first_name, class: "input", placeholder: "First Name"  %>
     </p>
     <p>
       <%= form.text_field :phone, class: "input", placeholder: "888-888-8888" %>
     </p>
     <p>
       <%= form.submit "Add", class: "button primary medium" %>
     </p>
   <% end %>

  <table class="guest-table">
    <% @guests.each_with_index do |guest, index| %>
      <tr class="row <%= "even" if index.even? %>">
        <td>
          <label class="check-container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </td>
        <td><%= guest.first_name %></td>
        <td><%= guest.phone %></td>
      </tr>
    <% end %>
  </table>

</div>
