<div id="create-account-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="text-center">Create an account to get started</h2>
    </div>
    <div class="modal-body">
      <%= form_for(:user, url: registration_path(:user)) do |f| %>
        <div class="input-container">
          <p class="input-label">Your First Name</p>
          <%= f.text_field :first_name, class: "input large", id: "name-input", placeholder: "Enter Name",
                                        required: true %>
        </div>

        <div class="input-container">
          <p class="input-label">Your Email</p>
          <%= f.text_field :email, class: "input large", id: "email-input", placeholder: "Enter Email",
                                        required: true %>
        </div>

        <div class="input-container">
          <p class="input-label">Create Password</p>
          <%= f.password_field :password, class: "input large", id: "password-input", required: true %>
        </div>

        <div class="input-container">
          <p class="input-label">Your Partner's First Name</p>
          <%= f.text_field :partner_first_name, class: "input large", id: "partner-name-input", required: true %>
        </div>

        <div class="input-container">
          <p class="input-label">Retype Password</p>
          <%= f.password_field :retype_password, class: "input large", id: "retype-password-input", required: true %>
        </div>

        <div class="buttons">
          <div class="button-container login-button close">
            <div class="button medium secondary">
              <h3>Cancel</h3>
            </div>
          </div>
          <div class="button-container login-button">
            <span class="form-submit">
              <%= f.submit "Create Account", name: "create", class: "button primary medium disabled" %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
