<div class="header">
  <div id="logo">
    <%= image_tag("logo.png", size: "89x24", alt: "lula logo") %>
  </div>
  <div class="header-links">
    <% if user_signed_in? %>
      <div class="dropdown">
        <button class="dropbtn">
          <h3>My Account</h3>
          <div class="icon"><%= image_tag("icons/arrow_down.svg") %></div>
        </button>
        <div class="dropdown-content">
          <a href="/guests">Guests</a>
          <a href="/messages">Chatbot Messages</a>
          <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
        </div>
      </div>
    <% else %>
      <h3 id="login">Log In</h3>

      <div class="button-container">
        <div id="make-a-bot" class="button medium secondary">
          <h3>Make a Bot</h3>
        </div>
        <%= render "layouts/login_modal" %>
        <%= render "layouts/create_account_modal" %>
      </div>
    <% end %>
  </div>
</div>
